---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Blog</h1>
  <p>Últimas entradas de mi blog</p>
  <div class="blog-post">
    <div class="title">Informacion popular.</div>
    <div class="content">
      <p><img class="logo" src={Astro.resolve('../assets/portada.svg')} /></p>
     

    </div>
  </div>
</BaseLayout>